.strategies{
  background: linear-gradient(179.59deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
}

.strategies__container{
  max-width: 1200px;
  padding-top: 150px;
}

.strategies__container > .title{
  font-family: Poppins;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0px;
  text-align: left;
}

.strategies__container > .sub-title{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 45px;
}

.strategies__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 31px;
}

.strategy{
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  max-width: 351px;
}

.strategy__data{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  padding: 24px 0px 0px 24px;
  color: var(--main-text);
}

.strategy__data > span:first-child{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--main-text);
}

.strategy__title{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  padding: 12px 25px 40px 25px;
  color: var(--main-text);
}

.strategy:nth-child(2) > .strategy__title{
  color: var(--m-green);
}

.strategy__img > img{
  -o-object-fit: cover;
  object-fit: contain !important;
  max-width: 100%;
}

.carousel-indicators{
  display: flex;
  justify-content: center;
  margin: 64px 0px 150px 0px;
  gap: 10px;
}

.carousel-indicators > .dot{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #EFEFEF;
  ;
}

@media screen and (max-width: 1024px){
  .strategies__list{
    flex-direction: column;
    align-items: center;
  }
  .strategies__container > .title{
    text-align: center;
  }
  .strategies__container > .sub-title{
    text-align: center;
  }
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 644px){

}
@media screen and (max-width: 348px){

}
